<%- include('../Partial/head.ejs') %>
    <%- include('../Partial/header.ejs') %>
        <div class="body-wrapper">
            <div class="container-fluid">
                

                


            </div>
        </div>
        <%- include('../Partial/footer.ejs') %>