<%- include('../Partial/head.ejs') %>
<%- include('../Partial/header.ejs') %>


<div class="body-wrapper">
  <div class="container-fluid" style="padding-top: 150px !important;">



    <div class="card card-body" style="padding-top: 20px !important;">

      <div class="px-4 py-3 border-bottom">
        <h5 class="card-title fw-semibold mb-0">Add Department</h5>
      </div>


      <form class="mt-5" action="/Department/setDepartment" method="post">
        <label for="">Enter Department Name</label>
        <input style="max-width: 300px;" class="form-control" type="text" name="DepartmentName" placeholder="Department Name" > 

        <button class="btn btn-info mt-3">Submit</button>
      </form>


    </div>


  </div>
</div>



<%- include('../Partial/footer.ejs') %>