
<%- include('../Partial/head.ejs') %>
    <%- include('../Partial/header.ejs') %>
        <div class="body-wrapper">
            <div class="container-fluid">







<section class="features-section py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
            <small class="text-primary fw-bold mb-2 d-block fs-3">ALMOST COVERED EVERYTHING</small>
            <h2 class="fs-9 text-center mb-4 mb-lg-9 fw-bolder">Other Amazing Features &amp; Flexibility Provided</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-wand text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">6 Theme Colors</h5>
            <p class="mb-0 text-dark">We have included 6 pre-defined Theme Colors with Elegant Admin.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-layout-sidebar text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Dark &amp; Light Sidebar</h5>
            <p class="mb-0 text-dark">Included Dark and Light Sidebar for getting desire look and feel.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-archive text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">600+ Page Templates</h5>
            <p class="mb-0 text-dark">Yes, we have 5 demos &amp; 131+ Pages per demo to make it easier.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-adjustments text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">150+ UI Components</h5>
            <p class="mb-0 text-dark">Almost 150+ UI Components being given with Modernize Admin Pack.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-tag text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Bootstrap 5x</h5>
            <p class="mb-0 text-dark">Its been made with Bootstrap 5 and full responsive layout.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-diamond text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">200+ Font Icons</h5>
            <p class="mb-0 text-dark">Lots of Icon Fonts are included here in the package of Elegant Admin.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-device-desktop text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Fully Responsive</h5>
            <p class="mb-0 text-dark">All the layout of Modernize Admin is Fully Responsive and widely tested.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-database text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">SassBase CSS</h5>
            <p class="mb-0 text-dark">Our Css is written Sass Base to make your life easier.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-arrows-shuffle text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Easy to Customize</h5>
            <p class="mb-0 text-dark">Customization will be easy as we understand your pain.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-chart-pie text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Lots of Chart Options</h5>
            <p class="mb-0 text-dark">You name it and we have it, Yes lots of variations for Charts.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-layers-intersect text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Lots of Table Examples</h5>
            <p class="mb-0 text-dark">Data Tables are initial requirement and we added them.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-refresh text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Regular Updates</h5>
            <p class="mb-0 text-dark">We are constantly updating our pack with new features.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-book text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Detailed Documentation</h5>
            <p class="mb-0 text-dark">We have made detailed documentation, so it will easy to use.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-calendar text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Calendar Design</h5>
            <p class="mb-0 text-dark">Calendar is available with our package &amp; in nice design.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1000">
          <div class="text-center mb-5">
            <i class="d-block ti ti-brand-wechat text-primary fs-10"></i>
            <h5 class="fs-5 fw-semibold mt-8">Dedicated Support</h5>
            <p class="mb-0 text-dark">We believe in supreme support is key and we offer that.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  
</div>
</div>
<%- include('../Partial/footer.ejs') %>